<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<title>Node Chat</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- Optional theme from http://bootswatch.com/ -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<!-- Custom Theme changes -->
	<link rel="stylesheet" href="/css/main.css">

	<!-- jQuery needed -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<!-- Login input form - takes a name before initiating chat -->
	<div>
		<div class="container mt-5 chika">
			<div class="row">
				<div class="col-sm">
					<div class="page-header">
						<h2 class="text-primary">Welcome to Online Chika</h2>
					</div>
					<img src="https://image.freepik.com/free-vector/people-chatting-online-illustration_179970-2658.jpg"
						alt="...">
				</div>
				<div class="col-sm">
					<div class="container chat-name-section">
						<div class="row">
							<div class="col-lg-12">

								<form class="bs-component" id="chatNameForm">

									<div class="form-group" style="margin-top:200px;">
										<label class="control-label" for="name">Please enter your name</label>

										<div class="input-group">
											<input type="text" class="form-control" name="name" id="name" required>

											<button class="btn btn-primary"> Enter Chat</button>
										</div>

										<div class="input-group">
											<p><span class="text-danger">Username is already taken!</span></p>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Chat header area - contains 'Users Online' count and log of chat messages -->
		<div style="background: url('https://i.pinimg.com/originals/84/3c/28/843c280d82eaebf9c43b083ed84835d3.png'); background-repeat: no-repeat;background-size: cover; background-attachment: fixed; height: 100vh;"
			class="d-none loggedIn">
			<div class="chat-box-section ">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 mb-3 mt-2">
							<h1 class="text-center">Online Chika Chat App</h1>
						</div>

					</div>
				</div>
			</div>



			<div class="container  mb-5">
				<div class="chat-input-section">
					<form class="bs-component" id="chatInputForm">
						<div id="container">
							<aside>
								<h4 class="text-center mt-2 mb-2 text-success">Online-Users</h4>
								<ul class="online-users">
									<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg"
										alt="">
								</ul>
							</aside>
							<main>

								<header>
									<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg"
										alt="">
									<button class="btn btn-primary float-right mb-4"
										onClick="window.location.reload();">Leave</button>
									<div class="container ml-5" style="margin-top:-45px;">
										<div class="row">
											<div class="col-sm">
												<i class="fa fa-circle text-success" aria-hidden="true"></i>
											</div>
											<div class="col-sm">
												<h2 class="userName float-left" style="margin-left: -190px;"></h2>
											</div>
										</div>
									</div>
								</header>
								<div class="container">
									<ul id="chat">
										<li class="you">
											<div class="panel-heading">
												<div id="user">
													<!--Hello {user}-->
												</div>
											</div>
											<div class="panel-body " id="chatBox">
											</div>
										</li>
									</ul>
								</div>
								<div class="container">
									<p class="typing ml-1 text-md text-primary" style="margin-top: -50px;"></p>
								</div>
								<!-- style="margin-top:450px;" -->

								<footer>
									<div class="buttonInside text-center mt-4 float-right ">
										<span><img
												src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_picture.png"
												alt="">
											<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_file.png"
												alt=""></span>
										<span>
											<input id="chatTextBox" class="form-control-sm"
												placeholder="Type your message" type="text" style="width:340px;">

											<button type="submit" class="btn btn-light" id="chatSendBtn"><i
													class="fa fa-paper-plane text-primary"
													aria-hidden="true"></i></button>
										</span>

									</div>
								</footer>

						</div>

						</main>
				</div>
				</form>
			</div>
		</div>


	</div>
	<!-- For working with HTML5 audo files -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/howler/1.1.17/howler.min.js"></script>

	<!--- Automatically generated by Socket.io -->
	<script src="/socket.io/socket.io.js"></script>

	<!--- Application code -->
	<script src="/js/chat.js"></script>

</body>

</html>